Intro to R language

In [3]:
a=7
b=5
print (a+b)

[1] 12

In [2]:
print (c(a,b))

"smith is the good boy"

[1] 7 5

In [20]:
b=0
c=k+b

ERROR: Error in eval(expr, envir, enclos): object 'k' not found

In [10]:
save (list=ls(all.names=TRUE),file="smith.r")

In [11]:
load(file="smith.r")

In [12]:
pi

[1] 3.141593

In [13]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [14]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [17]:
month.name
month.abb

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

In [41]:
b=76
as.complex(b)
typeof(b)
is.double(b)
is.numeric("b")
as.numeric(as.complex(b))
as.double(as.complex(b))
v=as.Date("23-3-2001")
typeof(v)

[1] 76+0i

[1] "double"

[1] TRUE

[1] FALSE

[1] 76

[1] 76

[1] "double"

In [43]:
#vector
x=c(3,45,6,7)
x

[1]  3 45  6  7

In [57]:
s=c("smith","rose","sri")

v=c(1,3,45,6)
m=c(4.5,7.8,8.8,9.0)

In [53]:
xx=list(s,v,m)
xx[3]

p=list(35,"56",s)

[[1]]
[1] 4.5 7.8 8.8 9.0

In [60]:
p[3]

[[1]]
[1] "smith" "rose"  "sri"

In [64]:
smith=list("name"=s,"id"=v)
smith$id[2]

[1] 3

In [70]:
s
smith[[1]][1]

[1] "smith" "rose"  "sri"

[1] "smith"

In [78]:
s[4]="ran"

s

#add new
smith[[1]][4]="tr"

smith

[1] "smith" "rose"  "sri"   "ran"

$name
[1] "smith" "bi"    "sri"   "tr"

$id
[1]  1  3 45  6

In [81]:
smith$name[5]="s,"

smith

$name
[1] "smith" "bi"    "sri"   "tr"    "s,"

$id
[1]  1  3 45  6

In [85]:
v=c(smith,xx) #concodinate to list
v

$name
[1] "smith" "bi"    "sri"   "tr"    "s,"

$id
[1]  1  3 45  6

[[3]]
[1] "smith" "rose"  "sri"

[[4]]
[1]  1  3 45  6  7

[[5]]
[1] 4.5 7.8 8.8 9.0

Data Frames (tabular data)

In [1]:
s=c(1,2,3,4)
c=c("smith","raj","ts","ri")
rank=c(1,2,3,4)

In [2]:
v=data.frame(s,c,rank,stringsAsFactors=F)

In [3]:
print(v)

  s     c rank
1 1 smith    1
2 2   raj    2
3 3    ts    3
4 4    ri    4

In [11]:
 cv=read.table(path="/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv")

ERROR: Error in read.table(path = "/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv"): unused argument (path = "/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv")

In [17]:
v[1:2,]

v[,3:2]

  s c     rank
1 1 smith 1
2 2 raj   2

  rank c
1 1    smith
2 2    raj
3 3    ts
4 4    ri

[1] 2

In [39]:
v[2,2]="smith"

In [46]:
v[[3]][3]=1766
v

  s c     rank
1 1 smith    1
2 2 smith    2
3 3 ts    1766
4 4 ri       4

In [47]:
sg=data.frame("name"=c("taju","mohan","mohan","vishan"))
print(sg)

b=c(7,856,4,123)

    name
1   taju
2  mohan
3  mohan
4 vishan

In [33]:
# subset() it take condition based on the conition
v=subset(sg,name=="mohan"|b>100)
v

ERROR: Error in FUN(left, right): operations are possible only for numeric, logical or complex types

In [48]:
mu=data.frame()

In [50]:
mu=edit(v)

ERROR: Error in edit(v): ‘edit()’ not yet supported in the Jupyter R kernel

In [51]:
v

  s c     rank
1 1 smith    1
2 2 smith    2
3 3 ts    1766
4 4 ri       4

In [5]:
v=rbind(v,data.frame(s=5,c="fe",rank=8))
v

  s c     rank
1 1 smith 1
2 2 raj   2
3 3 ts    3
4 4 ri    4
5 5 fe    8

In [7]:
v=cbind(v,by=c(5,6,7,8,9))
v

  s c     rank by by
1 1 smith 1    5  5
2 2 raj   2    6  6
3 3 ts    3    7  7
4 4 ri    4    8  8
5 5 fe    8    9  9

In [74]:
#for delete rows or columns

v[,-1]

  c     rank by
1 smith 1     2
2 raj   2     4
3 ts    3     6
4 ri    4     8
5 fe    8    10

In [77]:
v[!v$c=="ri",]

  s c     rank by
1 1 smith 1     2
2 2 raj   2     4
3 3 ts    3     6
5 5 fe    8    10

In [89]:
v=cbind(v,raj34=c("fg","sm","sde","tag","strg","hgad"))

In [90]:
v

  s  c     rank by raj    raj  raj34
1  1 smith  1    2 fg     fg   fg
2  2 raj    2    4 sm     sm   sm
3  3 ts     3    6 sde    sde  sde
4  4 ri     4    8 tag    tag  tag
5  5 fe     8   10 strg   strg strg
6 NA NA    NA   NA hasutg NA   hgad

In [97]:
v[,-6]

  s  c     rank by raj    raj34
1  1 smith  1    2 fg     fg
2  2 raj    2    4 sm     sm
3  3 ts     3    6 sde    sde
4  4 ri     4    8 tag    tag
5  5 fe     8   10 strg   strg
6 NA NA    NA   NA hasutg hgad

In [100]:
v[5,3]="ravi"

In [101]:
v

  s  c     rank by raj  raj  raj34
1  1 smith 1     2 fg   fg   fg
2  2 raj   2     4 sm   sm   sm
3  3 ts    3     6 sde  sde  sde
4  4 ri    4     8 tag  tag  tag
5  5 fe    ravi 10 strg strg strg
6 NA NA    NA   NA ravi NA   hgad

In [103]:
v=rbind(v,data.frame(s=5,c="fe",rank=8))
v

ERROR: Error in rbind(deparse.level, ...): numbers of columns of arguments do not match

In [1]:
da=data.frame("name"=c("smith","vishnu","raj","hoi"),
              "bb"=c(22,44,55,66),
              "blood"=c("a","b","c","b-"))

In [2]:
da

  name   bb blood
1 smith  22 a
2 vishnu 44 b
3 raj    55 c
4 hoi    66 b-

In [3]:
library(reshape2)

melt

In [5]:
#we need to pass the identity variables like name (discrete values) and measuremnet values
df=melt(da,id.vars=c("name"),measure.vars=c("bb","blood"))

In [6]:
df
#changed (one single value)

  name   variable value
1 smith  bb       22
2 vishnu bb       44
3 raj    bb       55
4 hoi    bb       66
5 smith  blood    a
6 vishnu blood    b
7 raj    blood    c
8 hoi    blood    b-

cast

In [11]:
df2=dcast(df,variable~name,value.var="value")

In [12]:
df2

  variable hoi raj smith vishnu
1 bb       66  55  22    44
2 blood    b-  c   a     b

In [15]:
# melt + cast
recast(df,(variable~name),id.var=c("name"))

Warning message:
“attributes are not identical across measure variables; they will be dropped”
Aggregation function missing: defaulting to length

  variable hoi raj smith vishnu
1 variable 2   2   2     2
2 value    2   2   2     2

In [2]:
da=data.frame("name"=c("smith","vishnu","raj"),
              "bb"=c(22,44,55),
              "blood"=c("a","b","c"))

In [10]:
da1=data.frame("name"=c("smith","vishnu","raj","hu"),
              "job"=c("data","cbi","ias","yt"))

In [4]:
#left_joint

library(dplyr)

In [11]:
sm<-left_join(da,da1,by="name")

In [12]:
sm

  name   bb blood job
1 smith  22 a     data
2 vishnu 44 b     cbi
3 raj    55 c     ias

In [13]:
sm<-right_join(da,da1,by="name")
sm

  name   bb blood job
1 smith  22 a     data
2 vishnu 44 b     cbi
3 raj    55 c     ias
4 hu     NA NA    yt

In [14]:
sm<-inner_join(da,da1,by="name")
sm

  name   bb blood job
1 smith  22 a     data
2 vishnu 44 b     cbi
3 raj    55 c     ias

In [ ]:
 #full_join
# semi_join
# anti_join